body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.blog{
    color: coral;
}
.lection{
    display: flex;
}
.hafe{
    width: 50%;
}
.batoom{
text-decoration: none;
background-image: linear-gradient(orange,red);
padding: 10px 5px;
border-radius: 5px;
}
.top_banar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.unda_big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.shadoo{
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 20px coral;
}
.soto{
    font-size: 40px;
}  
.last_sec{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
